<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qygx.mes.csm.mapper.CsmConsumaUseMapper">

    <resultMap type="CsmConsumaUse" id="CsmConsumaUseResult">
        <result property="consumaUseId"    column="consuma_use_id"    />
        <result property="consumaId"    column="consuma_id"    />
        <result property="deviceId"    column="device_id"    />
        <result property="replaceTime"    column="replace_time"    />
        <result property="cycle"    column="cycle"    />
        <result property="useTime"    column="use_time"    />
        <result property="nextReplaceTime"    column="next_replace_time"    />
        <result property="remark"    column="remark"    />
        <result property="batchNo"    column="batch_no"    />
        <result property="attr2"    column="attr2"    />
        <result property="attr3"    column="attr3"    />
        <result property="attr4"    column="attr4"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="status"    column="status"    />
        <association property="consuma"    column="consuma_id" javaType="CsmConsuma" resultMap="consumaResult" />
        <association property="device"    column="device_id" javaType="DeviceArchives" resultMap="deviceResult" />
    </resultMap>

    <resultMap id="consumaResult" type="CsmConsuma">
        <id     property="consumaId"    column="consuma_id"     />
        <result property="consumaCode"    column="consuma_code"    />
        <result property="consumaName"    column="consuma_name"    />
        <result property="specs"    column="specs"    />
    </resultMap>

    <resultMap id="deviceResult" type="DeviceArchives">
        <id     property="deviceId"    column="device_id"     />
        <result property="deviceCode"    column="device_code"    />
        <result property="name"    column="name"    />
    </resultMap>





    <sql id="selectCsmConsumaUseVo">
        select u.consuma_use_id, u.consuma_id, u.device_id, u.replace_time, u.use_time, u.next_replace_time, u.remark, u.batch_no, u.attr2,
               u.attr3, u.attr4, u.create_by, u.create_time, u.update_by, u.update_time,u.cycle,u.status,
               c.consuma_code,c.consuma_name,c.specs,
               a.device_code,a.name
        from csm_consuma_use u
        left join csm_consuma c on u.consuma_id = c.consuma_id
        left join device_archives a on u.device_id =  a.device_id
    </sql>

    <select id="selectCsmConsumaUseList" parameterType="CsmConsumaUse" resultMap="CsmConsumaUseResult">
        select u.consuma_use_id, u.consuma_id, u.device_id, u.replace_time, u.use_time, u.next_replace_time, u.remark, u.batch_no, u.attr2,
        u.attr3, u.attr4, u.create_by, u.create_time, u.update_by, u.update_time,u.cycle,u.status,
        c.consuma_code,c.consuma_name,c.specs,
        a.device_code,a.name
        from csm_consuma_use u
        left join csm_consuma c on u.consuma_id = c.consuma_id
        left join device_archives a on u.device_id =  a.device_id
        <where>
            <if test="consumaId != null and consumaId != ''">and u.consuma_id = #{consumaId}</if>
            <if test="deviceId != null and deviceId != ''">and u.device_id = #{deviceId}</if>
            <if test="replaceTime != null and replaceTime != ''">and u.replace_time = #{replaceTime}</if>
            <if test="useTime != null and useTime != ''">and u.use_time = #{useTime}</if>
            <if test="nextReplaceTime != null and nextReplaceTime != ''">and u.next_replace_time = #{nextReplaceTime}</if>
            <if test="consumaName != null and consumaName != ''">and c.consuma_name like concat('%', #{consumaName}, '%')</if>
            <if test="expireDay != null and expireDay != ''">and date_add(date(u.next_replace_time), INTERVAL  #{expireDay} DAY) <![CDATA[ <= ]]> CURDATE()</if>
            <if test="status != null and status != ''"> and u.status = #{status}</if>
</where>
    </select>

    <select id="selectCsmConsumaUseByConsumaUseId" parameterType="Long" resultMap="CsmConsumaUseResult">
        <include refid="selectCsmConsumaUseVo"/>
        where u.consuma_use_id = #{consumaUseId}
    </select>

    <insert id="insertCsmConsumaUse" parameterType="CsmConsumaUse" useGeneratedKeys="true" keyProperty="consumaUseId">
        insert into csm_consuma_use
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="consumaId != null">consuma_id,</if>
            <if test="deviceId != null">device_id,</if>
            <if test="replaceTime != null">replace_time,</if>
            <if test="cycle != null">cycle,</if>
            <if test="useTime != null">use_time,</if>
            <if test="nextReplaceTime != null">next_replace_time,</if>
            <if test="remark != null">remark,</if>
            <if test="batchNo != null">batch_no,</if>
            <if test="attr2 != null">attr2,</if>
            <if test="attr3 != null">attr3,</if>
            <if test="attr4 != null">attr4,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="status != null and status !=''">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="consumaId != null">#{consumaId},</if>
            <if test="deviceId != null">#{deviceId},</if>
            <if test="replaceTime != null">#{replaceTime},</if>
            <if test="cycle != null">#{cycle},</if>
            <if test="useTime != null">#{useTime},</if>
            <if test="nextReplaceTime != null">#{nextReplaceTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="batchNo != null">#{batchNo},</if>
            <if test="attr2 != null">#{attr2},</if>
            <if test="attr3 != null">#{attr3},</if>
            <if test="attr4 != null">#{attr4},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="status != null and status !=''">#{status},</if>
         </trim>
    </insert>

    <update id="updateCsmConsumaUse" parameterType="CsmConsumaUse">
        update csm_consuma_use
        <trim prefix="SET" suffixOverrides=",">
            <if test="consumaId != null">consuma_id = #{consumaId},</if>
            <if test="deviceId != null">device_id = #{deviceId},</if>
            <if test="replaceTime != null">replace_time = #{replaceTime},</if>
            <if test="useTime != null">use_time = #{useTime},</if>
            <if test="cycle != null">cycle = #{cycle},</if>
            <if test="nextReplaceTime != null">next_replace_time = #{nextReplaceTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="batchNo != null">batch_no = #{batchNo},</if>
            <if test="attr2 != null">attr2 = #{attr2},</if>
            <if test="attr3 != null">attr3 = #{attr3},</if>
            <if test="attr4 != null">attr4 = #{attr4},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="status != null"> status = #{status},</if>
        </trim>
        where consuma_use_id = #{consumaUseId}
    </update>

    <delete id="deleteCsmConsumaUseByConsumaUseId" parameterType="Long">
        delete from csm_consuma_use where consuma_use_id = #{consumaUseId}
    </delete>

    <delete id="deleteCsmConsumaUseByConsumaUseIds" parameterType="String">
        delete from csm_consuma_use where consuma_use_id in
        <foreach item="consumaUseId" collection="array" open="(" separator="," close=")">
            #{consumaUseId}
        </foreach>
    </delete>

    <select id="checkBatchNoUnique" parameterType="String" resultType="int">
        select count(1) from csm_consuma_use where batch_no = #{batchNo} limit 1
    </select>
</mapper>
