<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qygx.mes.csm.mapper.CsmConsumaUseMapper">

    <resultMap type="CsmConsumaUse" id="CsmConsumaUseResult">
        <result property="consumaUseId"    column="consuma_use_id"    />
        <result property="consumaId"    column="consuma_id"    />
        <result property="deviceId"    column="device_id"    />
        <result property="replaceTime"    column="replace_time"    />
        <result property="replaceCycle"    column="replace_cycle"    />
        <result property="useTime"    column="use_time"    />
        <result property="nextReplaceTime"    column="next_replace_time"    />
        <result property="remark"    column="remark"    />
        <result property="batchNo"    column="batch_no"    />
        <result property="attr2"    column="attr2"    />
        <result property="attr3"    column="attr3"    />
        <result property="repairNumber"    column="repair_number"    />
        <result property="deviceCode"    column="device_code"    />

        <association property="consuma"    column="consuma_id" javaType="CsmConsuma" resultMap="consumaResult" />
        <association property="device"    column="device_id" javaType="DeviceArchives" resultMap="deviceResult" />
    </resultMap>

    <resultMap id="consumaResult" type="CsmConsuma">
        <id     property="consumaId"    column="consuma_id"     />
        <result property="consumaCode"    column="consuma_code"    />
        <result property="consumaName"    column="consuma_name"    />
        <result property="specs"    column="specs"    />
    </resultMap>

    <resultMap id="deviceResult" type="DeviceArchives">
        <id     property="deviceId"    column="device_id"     />
        <result property="deviceCode"    column="device_code"    />
        <result property="name"    column="name"    />
    </resultMap>





    <sql id="selectCsmConsumaUseVo">
        select u.consuma_use_id, u.consuma_id, u.device_id, u.replace_time, u.use_time, u.next_replace_time, u.remark, u.batch_no, u.attr2,
               u.attr3, u.repair_number, u.device_code,u.replace_cycle,
               c.consuma_code,c.consuma_name,c.specs,
               a.device_code,a.name
        from csm_consuma_use u
        left join csm_consuma c on u.consuma_id = c.consuma_id
        left join device_archives a on u.device_id =  a.device_id
    </sql>

    <select id="selectCsmConsumaUseList" parameterType="CsmConsumaUse" resultMap="CsmConsumaUseResult">
        select u.consuma_use_id, u.consuma_id, u.device_id, u.replace_time, u.use_time, u.next_replace_time, u.remark, u.batch_no, u.attr2,
        u.attr3, u.repair_number, u.device_code,u.replace_cycle,

        c.consuma_code,c.consuma_name,c.specs,
        a.device_code,a.name
        from csm_consuma_use u
        left join csm_consuma c on u.consuma_id = c.consuma_id
        left join device_archives a on u.device_id =  a.device_id
        <where>
            <if test="consumaId != null and consumaId != ''">and u.consuma_id = #{consumaId}</if>
            <if test="deviceId != null and deviceId != ''">and u.device_id = #{deviceId}</if>
            <if test="replaceTime != null and replaceTime != ''">and u.replace_time = #{replaceTime}</if>
            <if test="useTime != null and useTime != ''">and u.use_time = #{useTime}</if>
            <if test="nextReplaceTime != null and nextReplaceTime != ''">and u.next_replace_time = #{nextReplaceTime}</if>
            <if test="consumaName != null and consumaName != ''">and c.consuma_name like concat('%', #{consumaName}, '%')</if>
            <if test="expireDay != null and expireDay != ''">and date_add(date(u.next_replace_time), INTERVAL  #{expireDay} DAY) <![CDATA[ <= ]]> CURDATE()</if>
            <if test="batchNo != null and batchNo != ''"> and u.batch_no = #{batchNo}</if>
</where>
    </select>

    <select id="selectCsmConsumaUseByConsumaUseId" parameterType="Long" resultMap="CsmConsumaUseResult">
        <include refid="selectCsmConsumaUseVo"/>
        where u.consuma_use_id = #{consumaUseId}
    </select>

    <insert id="insertCsmConsumaUse" parameterType="CsmConsumaUse" useGeneratedKeys="true" keyProperty="consumaUseId">
        insert into csm_consuma_use
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="consumaId != null">consuma_id,</if>
            <if test="deviceId != null">device_id,</if>
            <if test="replaceTime != null">replace_time,</if>
            <if test="replaceCycle != null">replace_cycle,</if>
            <if test="useTime != null">use_time,</if>
            <if test="nextReplaceTime != null">next_replace_time,</if>
            <if test="remark != null">remark,</if>
            <if test="batchNo != null">batch_no,</if>
            <if test="attr2 != null">attr2,</if>
            <if test="attr3 != null">attr3,</if>
            <if test="repairNumber != null">repair_number,</if>
            <if test="deviceCode != null">device_code,</if>

         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="consumaId != null">#{consumaId},</if>
            <if test="deviceId != null">#{deviceId},</if>
            <if test="replaceTime != null">#{replaceTime},</if>
            <if test="replaceCycle != null">#{replaceCycle},</if>
            <if test="useTime != null">#{useTime},</if>
            <if test="nextReplaceTime != null">#{nextReplaceTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="batchNo != null">#{batchNo},</if>
            <if test="attr2 != null">#{attr2},</if>
            <if test="attr3 != null">#{attr3},</if>
            <if test="repairNumber != null">#{repairNumber},</if>
            <if test="deviceCode != null">#{deviceCode},</if>

         </trim>
    </insert>

    <update id="updateCsmConsumaUse" parameterType="CsmConsumaUse">
        update csm_consuma_use
        <trim prefix="SET" suffixOverrides=",">
            <if test="consumaId != null">consuma_id = #{consumaId},</if>
            <if test="deviceId != null">device_id = #{deviceId},</if>
            <if test="replaceTime != null">replace_time = #{replaceTime},</if>
            <if test="useTime != null">use_time = #{useTime},</if>
            <if test="replaceCycle != null">replace_cycle = #{replaceCycle},</if>
            <if test="nextReplaceTime != null">next_replace_time = #{nextReplaceTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="batchNo != null">batch_no = #{batchNo},</if>
            <if test="attr2 != null">attr2 = #{attr2},</if>
            <if test="attr3 != null">attr3 = #{attr3},</if>
            <if test="repairNumber != null">repair_number = #{repairNumber},</if>
            <if test="deviceCode != null">device_code = #{deviceCode},</if>

        </trim>
        where consuma_use_id = #{consumaUseId}
    </update>

    <delete id="deleteCsmConsumaUseByConsumaUseId" parameterType="Long">
        delete from csm_consuma_use where consuma_use_id = #{consumaUseId}
    </delete>

    <delete id="deleteCsmConsumaUseByConsumaUseIds" parameterType="String">
        delete from csm_consuma_use where consuma_use_id in
        <foreach item="consumaUseId" collection="array" open="(" separator="," close=")">
            #{consumaUseId}
        </foreach>
    </delete>

    <select id="checkBatchNoUnique" parameterType="String" resultType="int">
        select count(1) from csm_consuma_use where batch_no = #{batchNo} limit 1
    </select>

    <delete id="deleteUseByConsumaIds" parameterType="String">
        delete from csm_consuma_use where consuma_id in
        <foreach item="consumaId" collection="array" open="(" separator="," close=")">
            #{consumaId}
        </foreach>
    </delete>

    <select id="selectConsumaUseByBatchNo" parameterType="String" resultMap="CsmConsumaUseResult">
        <include refid="selectCsmConsumaUseVo"/>
        where u.batch_no = #{batchNo}
    </select>
</mapper>
