<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qygx.system.mapper.DvMachineryRunMapper">

    <resultMap type="DvMachineryRun" id="DvMachineryRunResult">
        <result property="recordId"    column="record_id"    />
        <result property="deviceId"    column="device_id"    />
        <result property="machineryCode"    column="machinery_code"    />
        <result property="machineryName"    column="machinery_name"    />
        <result property="recordDate"    column="record_date"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="runTime"    column="run_time"    />
        <result property="planDownTime"    column="plan_down_time"    />
        <result property="excepitonDownTime"    column="excepiton_down_time"    />
        <result property="movingTime"    column="moving_time"    />
        <result property="utilizationRate"    column="utilization_rate"    />
        <result property="processId"    column="process_id"    />
        <result property="shiftName"    column="shift_name"    />
        <result property="processCode"    column="process_code"    />
        <result property="processName"    column="process_name"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="operator"    column="operator"    />
    </resultMap>


    <resultMap type="DvRunDto" id="DvRunDtoResult">
        <result property="recordDate"    column="record_date"    />
        <result property="cuPao"    column="cu_pao"    />
        <result property="cuMo"    column="cu_mo"    />
        <result property="shuiPao"    column="shui_pao"    />
        <result property="jingPao"    column="jing_pao"    />
        <result property="cuPaoNum"    column="cu_pao_num"    />
        <result property="cuMoNum"    column="cu_mo_num"    />
        <result property="shuiPaoNum"    column="shui_pao_num"    />
        <result property="jingPaoNum"    column="jing_pao_num"    />
    </resultMap>


    <sql id="selectDvMachineryRunVo">
        select record_id, device_id, machinery_code, machinery_name, record_date, start_time, end_time, run_time, plan_down_time, excepiton_down_time, moving_time, utilization_rate, process_id, shift_name, process_code, process_name,operator, create_by, create_time, update_by, update_time from dv_machinery_run
    </sql>

    <select id="selectDvMachineryRunList" parameterType="DvMachineryRun" resultMap="DvMachineryRunResult">
        <include refid="selectDvMachineryRunVo"/>
        <where>
            <if test="machineryCode != null  and machineryCode != ''"> and machinery_code = #{machineryCode}</if>
            <if test="machineryName != null  and machineryName != ''"> and machinery_name like concat('%', #{machineryName}, '%')</if>
            <if test="recordDate != null "> and record_date = #{recordDate}</if>
            <if test="utilizationRate != null "> and utilization_rate = #{utilizationRate}</if>
        </where>
        order by record_date desc
    </select>

    <select id="selectDvMachineryRunByRecordId" parameterType="Long" resultMap="DvMachineryRunResult">
        <include refid="selectDvMachineryRunVo"/>
        where record_id = #{recordId}
    </select>

    <insert id="insertDvMachineryRun" parameterType="DvMachineryRun" useGeneratedKeys="true" keyProperty="recordId">
        insert into dv_machinery_run
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deviceId != null">device_id,</if>
            <if test="machineryCode != null">machinery_code,</if>
            <if test="machineryName != null">machinery_name,</if>
            <if test="recordDate != null">record_date,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="runTime != null">run_time,</if>
            <if test="planDownTime != null">plan_down_time,</if>
            <if test="excepitonDownTime != null">excepiton_down_time,</if>
            <if test="movingTime != null">moving_time,</if>
            <if test="utilizationRate != null">utilization_rate,</if>
            <if test="processId != null">process_id,</if>
            <if test="shiftName != null">shift_name,</if>
            <if test="processCode != null">process_code,</if>
            <if test="processName != null">process_name,</if>
            <if test="operator != null">operator,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">

            <if test="deviceId != null">#{deviceId},</if>
            <if test="machineryCode != null">#{machineryCode},</if>
            <if test="machineryName != null">#{machineryName},</if>
            <if test="recordDate != null">#{recordDate},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="runTime != null">#{runTime},</if>
            <if test="planDownTime != null">#{planDownTime},</if>
            <if test="excepitonDownTime != null">#{excepitonDownTime},</if>
            <if test="movingTime != null">#{movingTime},</if>
            <if test="utilizationRate != null">#{utilizationRate},</if>
            <if test="processId != null">#{processId},</if>
            <if test="shiftName != null">#{shiftName},</if>
            <if test="processCode != null">#{processCode},</if>
            <if test="processName != null">#{processName},</if>
            <if test="operator != null">#{operator},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateDvMachineryRun" parameterType="DvMachineryRun">
        update dv_machinery_run
        <trim prefix="SET" suffixOverrides=",">

            <if test="deviceId != null">device_id = #{deviceId},</if>
            <if test="machineryCode != null">machinery_code = #{machineryCode},</if>
            <if test="machineryName != null">machinery_name = #{machineryName},</if>
            <if test="recordDate != null">record_date = #{recordDate},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="runTime != null">run_time = #{runTime},</if>
            <if test="planDownTime != null">plan_down_time = #{planDownTime},</if>
            <if test="excepitonDownTime != null">excepiton_down_time = #{excepitonDownTime},</if>
            <if test="movingTime != null">moving_time = #{movingTime},</if>
            <if test="utilizationRate != null">utilization_rate = #{utilizationRate},</if>
            <if test="processId != null">process_id = #{processId},</if>
            <if test="shiftName != null">shift_name = #{shiftName},</if>
            <if test="processCode != null">process_code = #{processCode},</if>
            <if test="processName != null">process_name = #{processName},</if>
            <if test="operator != null">operator = #{operator},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where record_id = #{recordId}
    </update>

    <delete id="deleteDvMachineryRunByRecordId" parameterType="Long">
        delete from dv_machinery_run where record_id = #{recordId}
    </delete>

    <delete id="deleteDvMachineryRunByRecordIds" parameterType="String">
        delete from dv_machinery_run where record_id in
        <foreach item="recordId" collection="array" open="(" separator="," close=")">
            #{recordId}
        </foreach>
    </delete>

    <select id="selectDvRunByShift" resultMap="DvMachineryRunResult">
        <include refid="selectDvMachineryRunVo"/>
        where record_date = #{date}
        and shift_name = #{shiftName}
        and machinery_code = #{deviceCode}
    </select>

    <select id="selectDailyRunTime" resultMap="DvRunDtoResult">


        select record_date,max(cu_pao) cu_pao,max(cu_mo) cu_mo,max(shui_pao) shui_pao,max(jing_pao) jing_pao,
               max(cu_pao_num) cu_pao_num,max(cu_mo_num) cu_mo_num,max(shui_pao_num) shui_pao_num,max(jing_pao_num) jing_pao_num
        from (
                 select  record_date,count(distinct  machinery_code) dv_num,
                         (case process_name when '粗抛' then sum(run_time) else 0 end ) cu_pao,
                         (case process_name when '粗磨' then sum(run_time) else 0 end) cu_mo,
                         (case process_name when '水抛' then sum(run_time) else 0 end) shui_pao,
                         (case process_name when '精抛' then sum(run_time) else 0 end) jing_pao,
                         (case process_name when '粗抛' then count(distinct  machinery_code) else 0 end ) cu_pao_num,
                         (case process_name when '粗磨' then count(distinct  machinery_code) else 0 end) cu_mo_num,
                         (case process_name when '水抛' then count(distinct  machinery_code) else 0 end) shui_pao_num,
                         (case process_name when '精抛' then count(distinct  machinery_code) else 0 end) jing_pao_num
                 from dv_machinery_run group by process_name,record_date
             ) t1
        GROUP BY t1.record_date
        ORDER BY record_date
    </select>

</mapper>
