<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qygx.system.mapper.ProReportMapper">

    <resultMap type="ProInspect" id="ProInspectResult">
        <id     property="id"      column="id"      />
        <result property="qrCode"    column="qr_code"    />
        <result property="productCode"     column="product_code"     />
        <result property="productType"   column="product_type"   />
        <result property="materialType"    column="material_type"    />
        <result property="materialQuality"      column="material_quality"      />
        <result property="quantityStd"    column="quantity_std"    />
        <result property="beginTime"      column="begin_time"      />
        <result property="endTime"    column="end_time"    />
        <result property="runTime"    column="run_time"    />
        <result property="inspectedNum"    column="inspected_num"    />
        <result property="okNum"    column="ok_num"    />
        <result property="ngNum"    column="ng_num"    />
        <result property="ng1"    column="ng1"    />
        <result property="ng2"    column="ng2"    />
        <result property="ng3"    column="ng3"    />
        <result property="ng4"    column="ng4"    />
        <result property="ng5"    column="ng5"    />
        <result property="ng6"    column="ng6"    />
        <result property="ng7"    column="ng7"    />
        <result property="ng8"    column="ng8"    />
        <result property="ng9"    column="ng9"    />
        <result property="ng10"    column="ng10"    />
        <result property="result"    column="result"    />
        <result property="status"    column="status"    />
        <result property="remark1"    column="remark1"    />
        <result property="remark2"    column="remark2"    />
        <result property="remark3"    column="remark3"    />
        <result property="remark4"    column="remark4"    />
    </resultMap>

    <sql id="selectInspectVo">
        select id,qr_code, product_code, product_type, material_type, material_quality, quantity_std, inspector, begin_time, end_time, run_time,inspected_num,ok_num,ng_num,status,result,remark1,remark2,remark3,remark4
        from inspect
    </sql>

<!--    &lt;!&ndash; 查询条件 &ndash;&gt;-->
<!--    <sql id="sqlwhereSearch">-->
<!--        <where>-->
<!--            <if test="configId !=null">-->
<!--                and config_id = #{configId}-->
<!--            </if>-->
<!--            <if test="configKey !=null and configKey != ''">-->
<!--                and config_key = #{configKey}-->
<!--            </if>-->
<!--        </where>-->
<!--    </sql>-->


    <select id="selectInspectChart" parameterType="ProInspect" resultMap="ProInspectResult">
        <include refid="selectInspectVo"/>
        <where>
            <if test="productType != null  and productType != ''"> and product_type = #{productType}</if>
            <if test="materialQuality != null  and materialQuality != ''"> and material_quality = #{materialQuality}</if>
        </where>
    </select>


    <select id="selectInspectList" parameterType="ProInspect" resultMap="ProInspectResult">
        <include refid="selectInspectVo"/>
        <where>
            <if test="qrCode != null  and qrCode != ''"> and qr_code = #{qrCode}</if>
            <if test="productCode != null  and productCode != ''"> and product_code = #{productCode}</if>
            <if test="productType != null  and productType != ''"> and product_type = #{productType}</if>
            <if test="materialType != null  and materialType != ''"> and material_type = #{materialType}</if>
            <if test="materialQuality != null  and materialQuality != ''"> and material_quality = #{materialQuality}</if>
            <if test="inspector != null  and inspector != ''"> and inspector = #{inspector}</if>
            <if test="okNum != null">and ok_num = #{okNum}</if>
            <if test="beginTime != null "> and begin_time = #{beginTime}</if>
        </where>
        order by begin_time desc
    </select>


    <select id="selectBreedList" resultMap="ProInspectResult">
        select id,product_type,material_quality from inspect GROUP BY product_type,material_quality
    </select>


    <select id="selectInspectListByTime" parameterType="ProInspect" resultMap="ProInspectResult">
        <include refid="selectInspectVo"/>
        <where>
            begin_time &gt; #{beginTime}  and  begin_time &lt; #{endTime}
        <if test="productType != null and productType != ''">
            AND product_type = #{productType}
        </if>
        <if test="materialQuality != null and materialQuality != ''">
            AND material_quality = #{materialQuality}
        </if>
        </where>

    </select>

    <select id="selectInspectById" parameterType="Long" resultMap="ProInspectResult">
        <include refid="selectInspectVo"/>
        where id = #{id}
    </select>

    <insert id="insertInspect" parameterType="ProInspect" useGeneratedKeys="true" keyProperty="id">
        insert into inspect
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="qrCode != null and qrCode != ''">qr_code,</if>
            <if test="productCode != null and productCode != ''">product_code,</if>
            <if test="productType != null and productType != ''">product_type,</if>
            <if test="materialType != null and materialType != ''">material_type,</if>
            <if test="materialQuality != null and materialQuality != ''">material_quality,</if>
            <if test="quantityStd != null">quantity_std,</if>
            <if test="inspector != null and inspector != ''">inspector,</if>
            <if test="beginTime != null">begin_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="runTime != null">run_time,</if>
            <if test="okPercent != null">ok_percent,</if>
            <if test="ngPercent != null">ng_percent,</if>
            <if test="inspectedNum != null">inspected_num,</if>
            <if test="okNum != null">ok_num,</if>
            <if test="ngNum != null">ng_num,</if>
            <if test="ng1 != null">ng1,</if>
            <if test="ng2 != null">ng2,</if>
            <if test="ng3 != null">ng3,</if>
            <if test="ng4 != null">ng4,</if>
            <if test="ng5 != null">ng5,</if>
            <if test="ng6 != null">ng6,</if>
            <if test="ng7 != null">ng7,</if>
            <if test="ng8 != null">ng8,</if>
            <if test="ng9 != null">ng9,</if>
            <if test="ng10 != null">ng10,</if>
            <if test="result != null">result,</if>
            <if test="remark1 != null">remark1,</if>
            <if test="remark2 != null">remark2,</if>
            <if test="remark3 != null">remark3,</if>
            <if test="remark4 != null">remark4,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="qrCode != null and qrCode != ''">#{qrCode},</if>
            <if test="productCode != null and productCode != ''">#{productCode},</if>
            <if test="productType != null and productType != ''">#{productType},</if>
            <if test="materialType != null and materialType != ''">#{materialType},</if>
            <if test="materialQuality != null and materialQuality != ''">#{materialQuality},</if>
            <if test="quantityStd != null">#{quantityStd},</if>
            <if test="inspector != null and inspector != ''">#{inspector},</if>
            <if test="beginTime != null">#{beginTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="runTime != null">#{runTime},</if>
            <if test="okPercent != null">#{okPercent},</if>
            <if test="ngPercent != null">#{ngPercent},</if>
            <if test="inspectedNum != null">#{inspectedNum},</if>
            <if test="okNum != null">#{okNum},</if>
            <if test="ngNum != null">#{ngNum},</if>
            <if test="ng1 != null">#{ng1},</if>
            <if test="ng2 != null">#{ng2},</if>
            <if test="ng3 != null">#{ng3},</if>
            <if test="ng4 != null">#{ng4},</if>
            <if test="ng5 != null">#{ng5},</if>
            <if test="ng6 != null">#{ng6},</if>
            <if test="ng7 != null">#{ng7},</if>
            <if test="ng8 != null">#{ng8},</if>
            <if test="ng9 != null">#{ng9},</if>
            <if test="ng10 != null">#{ng10},</if>
            <if test="result != null">#{result},</if>
            <if test="remark1 != null">${remark1}</if>
            <if test="remark2 != null">${remark2}</if>
            <if test="remark3 != null">${remark3}</if>
            <if test="remark4 != null">${remark4}</if>
        </trim>
    </insert>


    <update id="updateInspect" parameterType="ProInspect">
        update inspect
        <trim prefix="SET" suffixOverrides=",">
            <if test="qrCode != null and qrCode != ''">qr_code = #{qrCode},</if>
            <if test="productCode != null and productCode != ''">product_code = #{productCode},</if>
            <if test="productType != null and productType != ''">product_type = #{productType},</if>
            <if test="materialType != null and materialType != ''">material_type = #{materialType},</if>
            <if test="materialQuality != null and materialQuality != ''">material_quality = #{materialQuality},</if>
            <if test="quantityStd != null">quantity_std = #{quantityStd},</if>
            <if test="inspector != null and inspector != ''">inspector = #{inspector},</if>
            <if test="beginTime != null">begin_time = #{beginTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="runTime != null">run_time = #{runTime},</if>
            <if test="okPercent != null">ok_percent = #{okPercent},</if>
            <if test="ngPercent != null">ng_percent = #{ngPercent},</if>
            <if test="inspectedNum != null">inspected_num = #{inspectedNum},</if>
            <if test="okNum != null">ok_num = #{okNum},</if>
            <if test="ngNum != null">ng_num = #{ngNum},</if>
            <if test="ng1 != null">ng1 = #{ng1},</if>
            <if test="ng2 != null">ng2 = #{ng2},</if>
            <if test="ng3 != null">ng3 = #{ng3},</if>
            <if test="ng4 != null">ng4 = #{ng4},</if>
            <if test="ng5 != null">ng5 = #{ng5},</if>
            <if test="ng6 != null">ng6 = #{ng6},</if>
            <if test="ng7 != null">ng7 = #{ng7},</if>
            <if test="ng8 != null">ng8 = #{ng8},</if>
            <if test="ng9 != null">ng9 = #{ng9},</if>
            <if test="ng10 != null">ng10 = #{ng10},</if>
            <if test="result != null">result = #{result},</if>
            <if test="remark1 != null and remark1 != ''">remark1 = #{remark1},</if>
            <if test="remark2 != null and remark2 != ''">remark2 = #{remark2},</if>
            <if test="remark3 != null and remark3 != ''">remark3 = #{remark3},</if>
            <if test="remark4 != null and remark4 != ''">remark4 = #{remark4},</if>
            <if test="status != null">status = #{status},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteInspectById" parameterType="Long">
        delete from inspect where id = #{id}
    </delete>

    <delete id="deleteInspectByIds" parameterType="String">
        delete from inspect where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectInspectByQrCode" parameterType="String" resultMap="ProInspectResult">
        <include refid="selectInspectVo"/>
        where qr_code = #{qrCode}
    </select>

</mapper>